body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

body {
    background-image: linear-gradient(to right top, #5eead4, pink);
    height: 100vh;
    width: 100%
}

#corpo {
    overflow-y: scroll
}

#corpo,
#home {
    height: calc(100vh - 80px);
    width: 100%
}

#home {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center
}

#homeProduct {
    text-align: center;
    width: 700px
}

#homeProductName {
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 300
}

#home img {
    width: 380px
}

#homeProductButtons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
}

#homeProductButtons a,
.btn {
    color: #000;
    text-decoration: none
}

.btn {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    display: flex;
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 35px;
    justify-content: center;
    text-transform: uppercase;
    width: 180px
}

.btn:active {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.btn:hover {
    background-color: grey;
    opacity: .4
}

#publi {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    height: calc(100vh - 80px);
    justify-content: center;
    padding-top: 80px
}

#publiText {
    font-family: Quicksand, sans-serif;
    text-align: justify;
    width: 500px
}

#publiText p {
    font-size: 18px
}

#publiText h1 {
    font-size: 30px
}

#buy {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: calc(100vh - 80px);
    justify-content: center;
    padding-top: 80px;
    width: 100%
}

#buy a {
    color: #000;
    text-decoration: none
}

#buy img:hover {
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
}

#buyProducts {
    flex-wrap: wrap;
    gap: 40px
}

#buyProducts,
.itemPromo {
    align-items: center;
    display: flex;
    justify-content: center
}

.itemPromo {
    background-color: #fff;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 220px
}

.itemPromo img {
    background-color: #e5e7eb;
    margin-bottom: 10px;
    width: 220px
}

.itemPromo h2 {
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    margin: 0;
    text-transform: uppercase;
    width: calc(100% - 20px)
}

.itemPromo p {
    font-size: 17px;
    margin: 0
}

.precoNormal {
    text-decoration: line-through
}

#contact {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: Quicksand, sans-serif;
    height: calc(100vh - 160px);
    justify-content: center;
    padding: 80px 40px;
    width: calc(100% - 80px)
}

#contact h2 {
    font-size: 40px;
    width: calc(50% - 40px)
}

#formasContato {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: left;
    width: calc(50% - 40px)
}

#endereco,
#links,
#redes {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px
}

#links a {
    color: #000;
    text-decoration: none
}

#links a:hover {
    font-weight: 600
}

@media screen and (max-width:900px) {
    #contact h2 {
        text-align: center;
        width: 100%
    }

    #formasContato {
        align-items: center;
        gap: 20px;
        justify-content: center;
        width: 100%
    }

    #buy,
    #contact,
    #home {
        height: auto
    }

    #homeProduct {
        width: calc(100% - 40px)
    }

    #publi {
        gap: 40px;
        height: auto;
        padding: 80px 20px 0
    }

    #homeProductButtons {
        padding: 0 40px;
        width: calc(100% - 80px)
    }

    #publi img {
        padding: 0;
        width: 100%
    }

    .btn {
        font-size: 22px;
        height: 60px;
        width: 280px
    }

    #publiText h1 {
        text-align: center
    }

    #publiText {
        width: 100%
    }

    #corpo {
        height: calc(100vh - 130px)
    }
}

#products {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Quicksand, sans-serif;
    gap: 40px;
    height: calc(100vh - 80px);
    justify-content: flex-start;
    overflow-y: scroll;
    padding: 0 40px;
    width: calc(100% - 80px)
}

#products h1 {
    margin-top: 50px
}

#lista {
    flex-wrap: wrap;
    gap: 40px;
    height: auto;
    justify-content: center;
    margin-bottom: 50px;
    width: calc(100% - 80px)
}

#lista,
.item {
    align-items: center;
    display: flex
}

.item {
    background-color: #fff;
    flex-direction: column;
    gap: 5px;
    height: 320px;
    justify-content: flex-start;
    text-align: center;
    width: 200px
}

#lista a {
    color: #000;
    text-decoration: none
}

#lista img:hover {
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
}

.item img {
    background-color: #e5e7eb;
    margin-bottom: 10px;
    width: 200px
}

.item h2 {
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    margin: 0;
    text-transform: uppercase
}

.item p {
    font-size: 17px;
    margin: 0
}

.promoPreco {
    color: red;
    padding-bottom: 10px
}

@media screen and (max-width:900px) {
    #products h1 {
        text-align: center
    }

    #products {
        height: calc(100vh - 130px)
    }
}

#corpoItem {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    overflow-y: scroll
}

#produto {
    align-items: center;
    font-family: Quicksand, sans-serif;
    padding: 0 40px;
    width: calc(100% - 80px)
}

#fundo,
#produto {
    display: flex;
    justify-content: center
}

#fundo {
    align-items: flex-start;
    background-color: #fff;
    border-radius: 20px;
    gap: 40px;
    margin-top: 80px;
    padding: 10px;
    text-align: justify;
    width: 900px
}

#fundo,
#fundo img {
    height: 360px
}

#fundo img:hover {
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
}

#btnCompre {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%
}

#btnCompre button {
    text-transform: uppercase;
    width: 200px
}

#btnCompre a {
    text-decoration: none
}

#btnCompre button:hover {
    background-color: #374151;
    font-weight: 600
}

#btnCompre button:active {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

#detalhes {
    padding: 20px
}

#detalhes h1 {
    font-size: 30px;
    margin: 0
}

#detalhes p {
    font-size: 16px
}

@media screen and (max-width:900px) {
    #fundo {
        border-radius: 0;
        flex-wrap: wrap;
        height: auto;
        margin-top: 0;
        padding: 20px;
        width: calc(100% - 40px)
    }

    #produto {
        padding: 20px 0 50px
    }

    #detalhes,
    #fundo img,
    #produto {
        height: auto;
        width: 100%
    }

    #detalhes {
        padding: 0
    }

    #detalhes h1 {
        text-align: center
    }

    #corpoItem {
        height: calc(100vh - 130px)
    }
}

#corpoCarrinho {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: calc(100vh - 80px);
    overflow-y: scroll
}

#produtoCarrinho {
    font-family: Quicksand, sans-serif;
    padding: 0 40px;
    width: calc(100% - 80px)
}

#fundoCarrinho,
#produtoCarrinho {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start
}

#fundoCarrinho {
    background-color: #fff;
    border-radius: 20px;
    gap: 10px;
    margin-top: 80px;
    padding: 10px;
    text-align: justify;
    width: 900px
}

#fundoCarrinho img {
    background-color: #e5e7eb;
    height: 250px
}

#itenCarrinho {
    align-items: flex-start;
    gap: 40px;
    text-align: justify
}

#btnIncrementar,
#itenCarrinho {
    display: flex;
    justify-content: center
}

#btnIncrementar {
    align-items: center;
    gap: 10px
}

#btnIncrementar button {
    height: 30px;
    width: 30px
}

#btnCompre button {
    align-items: center;
    background-color: #4b5563;
    border: none;
    border-radius: 20px;
    color: #fff;
    display: flex;
    font-size: 20px;
    height: 60px;
    justify-content: center;
    width: 280px
}

#fundoCarrinho h2 {
    color: red;
    margin: 0;
    padding-right: 20px;
    text-align: right;
    width: calc(100% - 20px)
}

#fundoCarrinho h1 {
    font-size: 40px;
    text-align: center;
    width: 100%
}

#fundoCarrinho h3 {
    font-size: 30px;
    margin: 0
}

@media screen and (max-width:900px) {
    #produtoCarrinho {
        height: auto;
        padding: 20px 0 50px;
        width: 100%
    }

    #fundoCarrinho {
        border-radius: 0;
        margin-top: 0;
        padding: 20px;
        width: calc(100% - 40px)
    }

    #fundoCarrinho img {
        height: auto;
        width: 100%
    }

    #itenCarrinho {
        flex-wrap: wrap;
        width: 100%
    }

    #corpoCarrinho {
        height: calc(100vh - 130px)
    }
}

nav ul {
    display: inline;
    list-style: none
}

nav li {
    color: #000;
    display: inline-block;
    font-family: Quicksand, sans-serif;
    width: 140px
}

nav li:hover {
    font-weight: 600
}

nav a {
    text-decoration: none
}

nav {
    align-items: center;
    background-color: initial;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%
}

nav img {
    height: 80px;
    padding-left: 100px
}

@media screen and (max-width:900px) {
    nav li {
        text-align: center;
        width: 90px
    }

    nav img,
    nav ul {
        margin: 0;
        padding-left: 0
    }

    nav {
        flex-wrap: wrap;
        gap: 20px;
        height: 110px;
        justify-content: center;
        padding: 10px;
        width: calc(100% - 20px)
    }
}

/*# sourceMappingURL=main.5968b0da.css.map*/